<main>
  <header>
    <div class="menu-mobile none">
      <img src="/assets/img/menu.png">
    </div>
    <div class="pesquisa">
      <input type="text" name="" placeholder="Pesquise Aqui">
      <img src="/assets/img/lupa.gif">
    </div>
    <div class="topo">
      <div class="logo">
        <img src="/assets/img/logo.jpg">
      </div>
      <div class="info-topo">
        <h2>Grupo Econômico:</h2>
        <div class="visao">
          <select>
            <option value="">Visão Agregada 1</option>
            <option value="">Visão Agregada 2</option>
            <option value="">Visão Agregada 3</option>
          </select>
        </div>
        <div class="users">
          <div class="imagem">
            <img src="/assets/img/user.jpg">  
          </div>
          <select>
            <option value="">Sandra Oliveira</option>
            <option value="">Info da conta</option>
            <option value="">Sair</option>
          </select>
          <div class="alerts">
            <img src="/assets/img/bell.png">
            <span>3</span>
          </div>
        </div>
        <span class="none close">X</span>
      </div>
    </div>
  </header>
  <section class="body-app">
    <span class="none expandir">></span>
    <app-menu></app-menu>
    <div class="painel">
      <div class="breadcumb">
        <a href="#home">Página Inicial</a>
        <p>  >  Painel de Gestão</p>
      </div>
      <div class="topo-painel">
        <div class="logo-painel">
          <div class="img-gestao">
            <img src="/assets/img/globo2.jpg">
          </div>
          <h1>Painel de Gestão</h1>
        </div>
        <div class="produto">
          <p>Produto</p>
          <select>
            <option value="">Todos</option>
            <option value="">Filtro 1</option>
            <option value="">Filtro 2</option>
          </select>
        </div>
      </div>
      <app-painel></app-painel>
    </div>
  </section>
</main>


